.container {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

img {
    max-width: 400px;
    max-height: 400px;
}

code {  
    border-radius: 5px;
}

header {
    border-bottom: 1px solid slategrey;
}

footer {
    border-top: 1px solid slategrey;
    padding-top: 20px;
}

